version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 5000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fastapi.rule=Host(`leetoapp.thenakedscientists.co.za`)"
      - "traefik.http.routers.fastapi.tls=true"
      - "traefik.http.routers.fastapi.tls.certresolver=letsencrypt"
    depends_on:
      - redis

  traefik:
    build:
      context: .
      dockerfile: Dockerfile.traefik
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.toml:/etc/traefik/traefik.toml"

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

volumes:
  traefik-public-certificates:


